<div class="container-perfil">
    <h6>Whatsapp Envios</h6>

    <div class="container-logado" *ngIf="perfil.name">
        <!-- <img src="https://st3.depositphotos.com/1767687/16607/v/600/depositphotos_166074422-stock-illustration-default-avatar-profile-icon-grey.jpg"> -->
        <span class="circle-login" style="color:green"></span>
        <h6>{{perfil.name}}</h6>
    </div>
    <div class="container-nao-logado" *ngIf="!perfil.name">
        <h6>Você não está logado!</h6>
    </div>

    <button type="button" class="btn btn-success btn-sm" *ngIf="!perfil.name" (click)="setLogin()">Login</button>
    <button type="button" class="btn btn-danger btn-sm" *ngIf="perfil.name" (click)="setLogout()">Logout</button>
</div>

<div class="container-meio">
    <div class="container-left">
        <div class="left-1">
            <div class="form-group container-add">
                <input type="text" class="form-control" placeholder="DDD Telefone">
                <span class="btn-add">
                    <mat-icon>add</mat-icon>
                </span>
            </div>
        </div>
        <div class="contato" *ngFor="let contato of contatos">
            <p class="bold">{{ contato.nome }}</p>
            <p>{{ contato.telefone }}</p>
        </div>
    </div>

    <div class="container-right">
        <div>

        </div>
        <div class="container-message">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Mensagem">
                <span class="btn-send"><mat-icon>send</mat-icon></span>
            </div>
            <div>
                
            </div>
        </div>
    </div>

</div>