.container-perfil {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ededed;
    padding: 10px 16px;
    color: #28a745;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 2;
}
.container-logado {
    display: flex;
    align-items: center;
}
.container-logado img {
    width: 45px;
    height: 45px;
    border-radius: 30px;
    object-fit: cover;
    object-position: center;
}
.container-logado h6 {
    margin-left: 10px;
}
.container-nao-logado {
    font-style: italic;
    color: #dc3545 !important;
}
.container-meio {
    display: flex;
    height: 100%;
    padding-top: 50px;
}
.container-left {
    background-color: #f6f6f6;
    width: 32%;
    overflow: scroll;
    overflow-x: hidden;
    z-index: 1;
}
.left-1 {
    padding: 5px 10px;
}
.container-add {
    display: flex;
    align-items: center;
    justify-content: center;
}
.container-add input {
    border-radius: 30px;
    border: unset;
}
.btn-add {
    display: flex;
    border-radius: 30px;
    padding: 5px;
    margin-left: -35px;
    cursor: pointer;
}
.btn-add:hover {
    background: #9e9e9e1c;
}
.btn {
    border-radius: 30px;
}
.contato {
    background-color: #fff;
    padding: 5px;
    margin-bottom: 3px;
}
.contato p {
    margin-bottom: unset;
    font-size: 11pt;
}
.container-right {
    width: 100%;
    background: url('../../../image/background_whatsapp.png');
}
.container-message {
    padding: 10px;
    background-color: #f6f6f6;
    position: fixed;
    width: 76%;
    bottom: 0;
    right: 0;
}
.container-message input {
    border: unset;
    border-radius: 30px;
}
.container-message > .form-group {
    margin-bottom: unset;
    display: flex;
    align-items: center;
}
.btn-send {
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    cursor: pointer;
}
.btn-send:hover {
    background: #9e9e9e1c;
}
.bold {
    font-weight: bold;
}